@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
    --accent-color: #ec212e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    width: 20px;
    transition: width 300ms;
}

img {
    display: inline-block;
}

body {
    color: white;
    min-height: 200vh;
    font-family: 'Inter', sans-serif, monospace;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.95);
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.96)), url(../assets/grainy-background.svg);
}

section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
