$color_1: white;
$color_2: rgba(255, 255, 255, 1);
$background-color_1: transparent;
$background-color_2: var(--accent-color);

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 50px;
	border-top: 1px solid rgba(255,255,255, 0.2);
	font-size: 1.15rem;
    bottom:0;
}
.btn {
	border: 1px solid var(--accent-color);
	background-color: $background-color_1;
	align-items: center;
	color: $color_1;
	padding: 15px 24px 15px 18px;
	font-size: 16px;
	border: black;
	opacity: 0.8;
	&:hover {
		background-color: $background-color_2;
		transition: all 300ms ease-in-out;
		color: $color_2;
		box-shadow: 4px 10px 20px rgb(236, 33, 46,0.4);
		border-radius: 30px;
	}
}
